.product{
    border: 1px solid white;
    border-radius: 10px;
    background-color:steelblue;
    padding-left: 0px;
    color: white;
   
}
.product img{
    height: 230px;
    
}
.button{
    background-color:skyblue;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}
.button:hover{
    background-color:black;  ;
    color:white;
}