.product{
    border: 1px solid white;
    border-radius: 10px;
    background-color:steelblue;
    padding-left: 0px;
    color: white;
   
}
.product img{
    height: 230px;
    
}
.button{
    background-color:skyblue;
    border-radius: 5px;
    font-size: 20px;
}
.button:hover{
    background-color:black;  ;
    color:white;
}